.header__dark {
  padding-top: 37px;
  padding-bottom: 37px;
  background: url(/source/img/main/main_background.png);
}
.header__inner {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  justify-content: space-between;
  padding: 0px 45px;
  align-items: center;
}
.header__inner a {
  color: white;
}

.submenu-services a {
  color: black;
}

.list__topmenu {
  display: flex;
  margin: 0px;
}
.list__link {
  margin-right: 20px;
}
.list__link:last-child {
  margin-right: 0px;
}

.nav__link {
  padding-right: 5px;
}

.communicate__link {
  color: #dbe5e8;
}