.header {
    &__dark {
        padding-top: 37px;
        padding-bottom: 37px;
        background: url(source/img/main/main_background.png);
    }
    // .header__inner
    &__inner {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        a {
            color: white;
        }
        justify-content: space-between;
        padding: 0px 45px;
        align-items: center;
    }
}
.logo {
}
.list {
    // .list__topmenu

    &__topmenu {
    }

    // .list__link

    &__link {
    }
}
.nav {
    // .nav__link

    &__link {
    }
}
.dark {
}
.topmenu-services {
}
.submenu-services {
    a {
        color: black;
    }
}
.submenu {
    // .submenu__text-services

    &__text-services {
    }

    // .submenu__text

    &__text {
    }
}
.hide {
    // .hide__submenu

    &__submenu {
    }
}
.communicate {
    // .communicate__link

    &__link {
    }

    // .communicate__modificator

    &__modificator {
    }
}
.topmenu {
}

.list {
    // .list__topmenu

    &__topmenu {
        display: flex;
        margin: 0px;
    }

    // .list__link

    &__link {
        margin-right: 20px;
        &:last-child {
            margin-right: 0px;
        }
    }
}
.nav {
    // .nav__link

    &__link {
        padding-right: 5px;
    }
}

.communicate {
    // .communicate__link

    &__link {
        color: #dbe5e8;
    }

    // .communicate__modificator

    &__modificator {
    }
}
