* {
	margin: 0px;
	padding: 0px;
	font-family: Gilroy;
	box-sizing: border-box;
}
@font-face {
	font-family: Gilroy; /* Ð“Ð°Ñ€Ð½Ð¸Ñ‚ÑƒÑ€Ð° ÑˆÑ€Ð¸Ñ„Ñ‚Ð° */
	src: url(fonts/Gilroy-Medium.ttf); /* ÐŸÑƒÑ‚ÑŒ Ðº Ñ„Ð°Ð¹Ð»Ñƒ ÑÐ¾ ÑˆÑ€Ð¸Ñ„Ñ‚Ð¾Ð¼ */
}
body {
	background: #e5e5e5;
}
header {
	background: #ffffff;
	display: flex;
	height: 56px;
	justify-content: space-between;
	align-items: center;
}
.header-full {
	display: flex;
	align-items: center;
}
.logout img {
	margin-top: 10px;
	width: 32px;
	cursor: pointer;
	margin-right: 26px;
	height: 32px;
}
.logos {
	padding-left: 23px;
}
.logos img {
	width: 47px;
}
.calendar {
	height: 25px;
	display: flex;
	align-items: center;
}
.calendar p {
	font-size: 14px;
}

.input2 {
	height: 18px;
	border: 0px;
	margin-top: 3px;
	font-size: 18px;
	cursor: pointer;
	background: url(img/calendar.png) no-repeat;
	background-size: 16px;
	width: 40px;
	outline: 0px;
	margin-right: -5px;
	caret-color: transparent;
}
.input2::placeholder {
	color: black;
}
.display-none {
	display: none;
}
#calend {
	position: relative;
	display: flex;
}
#calend img {
	position: absolute;
	left: 0px;
}
.chassi {
	position: absolute;
	top: 70px;
	left: 70px;
	z-index: 5;
}
.display-block {
	display: block;
}
.calendar {
	margin-left: 4px;
	display: flex;
}

.calendar img {
	width: 18px;
	height: 18px;
	margin: auto 0;
	margin-right: 13px;
}
.wrapper {
	padding-left: 26px;
	display: flex;
}
.text-decoration {
	text-decoration: line-through;
}
.text-lef:hover .deleteMass {
	opacity: 1;
}
.Task-full {
	margin-top: 22px;
}
.Task_list {
	margin-left: 34px;
	display: flex;
	opacity: 30%;
	height: 21px;
}
.Task_list img {
	width: 82%;
}
.All-quest {
	margin-right: 17px;
	padding-left: 20px;
	padding-right: 30px;
	background-color: #ffffff;
	width: 22.6%;
	border-radius: 10px;
	height: 264px;
}
.quest-title {
	padding-bottom: 43px;
	padding-left: 17px;
	/* padding-top: 0px; */
	display: flex;
	justify-content: space-between;
}
.quest-title h2 {
	margin-top: 19px;
	font-size: 16px;
}

.quest-title img {
	height: 12px;
	margin-top: 25px;
}
.add-quest {
	cursor: pointer;
	align-items: center;
	display: flex;
	margin-bottom: 25px;
}
.add-quest img {
	width: 13px;
	height: 13px;
}
.add-quest p {
	margin-left: 10px;
	font-size: 14px;
	color: #d02b38;
}
.quest-create {
	width: 22.6%;
}
.quest {
	padding-left: 17px;
}
.quest h2 {
	font-size: 14px;
	padding-top: 2px;
}
.quest-list {
	list-style: none;
	height: 100px;
	margin-top: 15px;
	margin-left: -15px;
	overflow-y: auto;
}
.quest-full-list {
	margin-right: 17px;
	width: 100%;
	height: 354px;
	position: relative;
	background-color: #ffffff;
	border-radius: 10px;
}
.v-tabs--vertical > .v-tabs-bar .v-tab {
	height: 30px !important;
}
.v-card__subtitle,
.v-card__text,
.v-card__title {
	color: black !important;
	padding: 0px !important;
}
.v-tab--active {
	font-size: 10px !important;
	text-align: left !important;
}
.theme--light.v-tabs > .v-tabs-bar .v-tab--disabled,
.theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active),
.theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) > .v-btn,
.theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) > .v-icon {
	font-size: 10px !important;
	text-align: left !important;
	cursor: pointer;
}
.complete {
	text-decoration: line-through;
}
.select {
	color: red;
}
.quest-list-li img {
	width: 12px;
	margin: auto 0px;
	margin-right: 10px;
}
.create-quest {
	cursor: pointer;
	width: 28px;
	margin-right: 17px;
	text-align: center;
}
.active {
	display: block;
}
.buttonAD {
	font-family: inherit;
	appearance: none;
	border: 0;
	border-radius: 5px;
	color: #fff;
	padding: 4px 12px;
	font-size: 1rem;
	cursor: pointer;
}
.buttonAD:focus {
	outline: none;
}
.buttonAD:active {
	outline: none;
	box-shadow: 0 0 0 4px #cbd6ee;
}
.addItem {
	background: green;
}
.deleteItem {
	background: red;
}
.todo-text {
	cursor: pointer;
	background-color: transparent;
	border: none;
}
.quest-full {
	margin-right: 17px;
	width: 22.6%;
	height: 354px;
	position: relative;
	background-color: #ffffff;
	border-radius: 10px;
}

.full {
	display: none;
}
.navCreate-enter-active,
.navCreate-leave-active {
	transition: all 0.3s ease;
}
.navCreate-enter,
.navCreate-leave-to {
	transform: translateY(10px);
	opacity: 0;
}
.nav-create {
	font-family: "Gilroy";
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	position: absolute;
	top: 55px;
	right: 1px;
	background: #ffffff;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.22);
	padding: 10px 20px;
	border-radius: 10px;
	cursor: pointer;
}
.nav-create p {
	margin-bottom: 10px;
	margin-top: 5px;
}
.nav-create p:last-child {
	margin-top: 5px;
	margin-bottom: 5px;
}
.nav-create::after {
	content: "";
	position: absolute; /* Абсолютное позиционирование */
	right: 20px;
	top: -20px; /* Положение треугольника */
	border: 10px solid transparent; /* Прозрачные границы */
	border-bottom: 10px solid #ffff; /* Добавляем треугольник */
}
.ul-quest {
	padding-left: 20px;
	margin-left: 17px;
	font-weight: bold;
	font-size: 14px;
	overflow: auto;
	height: 200px;
}
.ul-quest li {
	margin-bottom: 10px;
	margin-top: 10px;
}
.ul-quest li p {
	margin-left: 15px;
}
.save {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
}
.save button {
	cursor: pointer;
	border: 0px;
	outline: 0px;
	color: #ffffff;
	background: #0e9347;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	font-size: 16px;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
}
.button-save button {
	opacity: 0.6;
	outline: 0px;
	cursor: pointer;
	font-size: 14px;
	border-radius: 10px;
	border: 0px;
	margin-bottom: 29px;
	background-color: #ffffff;
	padding: 22px;
	width: 100%;
}
.new-quest {
	width: 100%;
	height: 310px;
	background: #ffffff;
	border-radius: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
.post {
	padding-top: 25px;
	display: flex;
	color: #d02b38;
	padding-bottom: 25px;
}
.post img {
	width: 12px;
	margin: auto 0;
	height: 12px;
}
.post p {
	font-size: 14px;
	margin-left: 10px;
}
.quest-input input {
	height: 38px;
	width: 98%;
	padding-left: 16px;
	border-radius: 5px;
	font-size: 14px;
	border: 0px;
	background: #f6f8f9;
	margin-bottom: 15px;
}
.quest-input button {
	outline: 0px;
	cursor: pointer;
	padding: 11px;
	width: 98%;
	font-size: 16px;
	border-radius: 10px;
	border: 0px;
	color: #ffffff;
	background: #0e9347;
}

.links {
	margin-top: 19px;
	overflow: auto;
	height: 69px;
}
.links li:last-child {
	margin-bottom: 0px;
}
.deleteMass {
	transition: 0.6s;
	opacity: 0;
	padding: 0px;
	margin-left: 10px;
	width: 20px;
	height: 20px;
	background-color: red;
}
.deleteLinks {
	width: 15px;
	margin-left: 7px;
	opacity: 0;
	transition: 0.5s;
	height: 15px;
	font-size: 10px;
	appearance: none;
	border: 0;
	border-radius: 5px;
	background-color: red;
	color: #fff;
	cursor: pointer;
}
.deleteLinks:focus {
	outline: none;
}
.deleteLinks:active {
	outline: none;
	box-shadow: 0 0 0 4px #cbd6ee;
}
.links li {
	margin-bottom: 10px;
	display: flex;
}
.links li:hover .deleteLinks {
	opacity: 1;
}
.links li a {
	color: #2a68be;
	font-size: 13px;
}
.links li img {
	margin: auto 0;
	width: 12px;
	height: 12px;
	margin-right: 12px;
}
.login {
	margin-left: 31px;
	padding-top: 38px;
	padding-left: 25px;
	padding-right: 35px;
	width: 380px;
	height: 325px;
	background: #ffffff;
	border-radius: 10px;
}
.logo {
	text-align: center;
	padding-bottom: 41px;
}
.input-login {
	position: relative;
}
.input-login input {
	width: 320px;
	border: 0px;
	background: #f6f8f9;
	border-radius: 5px;
	height: 50px;
}
.input-login input::placeholder {
	padding-left: 50px;
}
.input-login img {
	position: absolute;
	left: 20px;
	top: 16px;
}
.input-login {
	padding-bottom: 15px;
}
.button-login button {
	padding: 15px 132px;
	font-size: 20px;
	color: #ffffff;
	border: 0px;
	border-radius: 10px;
	background: #0e9347;
}
#ui-datepicker-div {
	margin-top: 24px;
}

@media (max-width: 1200px) {
	.All-quest {
		width: 27%;
	}
	.quest-full {
		width: 27%;
	}
	.quest-create {
		width: 27%;
	}
}
@media (max-width: 1024px) {
	.wrapper {
		flex-wrap: wrap;
	}
	.All-quest {
		width: 44.5%;
	}
	.add-quest p {
		margin-left: 8px;
	}
	.quest-full {
		width: 44.5%;
	}
	.quest-create {
		width: 44.5%;
		margin-top: -66px;
	}
	.quest-list-li img {
		display: none;
	}
}
@media (max-width: 768px) {
	.wrapper {
		flex-wrap: wrap;
	}
	.All-quest {
		width: 46%;
	}
	.add-quest p {
		margin-left: 8px;
	}
	.quest-full {
		width: 46%;
	}
	.quest-create {
		width: 46%;
		margin-top: -66px;
	}
	.Task_list img {
		width: 90px;
	}
	.Task_list {
		margin-left: 30px;
		height: 17px;
	}
	.logos {
		padding-left: 12px;
	}
	.input2 {
		width: 30px;
	}
	.logout img {
		margin-right: 15px;
	}
}
@media (max-width: 575px) {
	.wrapper {
		padding-left: 0px;
		flex-direction: column;
	}
	.All-quest {
		width: 70%;
		margin: 0px auto;
	}
	.add-quest p {
		margin-left: 8px;
	}
	.quest-full {
		width: 70%;
		margin: 30px auto;
	}
	.quest-create {
		width: 70%;
		margin: 0px auto;
	}
}
@media (max-width: 425px) {
	.wrapper {
		padding-left: 0px;
		flex-direction: column;
	}
	.All-quest {
		width: 85%;
	}
	.quest-full {
		width: 85%;
	}
	.quest-create {
		width: 85%;
	}
	.quest {
		height: 50px;
	}
}
