* {
	margin: 0px;
	padding: 0px;
	font-family: Gilroy;
	box-sizing: border-box;
}
@font-face {
	font-family: Gilroy; /* Гарнитура шрифта */
	src: url(fonts/Gilroy-Medium.ttf); /* Путь к файлу со шрифтом */
}
body {
	background: #e5e5e5;
}
header {
	background: #ffffff;
	display: flex;
	height: 65px;
	justify-content: space-between;
	align-items: center;
}
.header-full {
	display: flex;
	align-items: center;
}
.logout img {
	margin-top: 10px;
	width: 35px;
	cursor: pointer;
	margin-right: 33px;
	height: 35px;
}
.logos {
	padding-left: 33px;
}
.logos img {
	width: 50px;
}
.calendar {
	height: 25px;
	display: flex;
	align-items: center;
}
.calendar p {
	font-size: 16px;
}

.input2 {
	height: 19px;
	border: 0px;
	font-size: 18px;
	cursor: pointer;
	background: url(img/calendar.png) no-repeat;
	background-size: 18px;
	width: 40px;
	outline: 0px;
	margin-right: -5px;
	caret-color: transparent;
}
.input2::placeholder {
	color: black;
}
.display-none {
	display: none;
}
#calend {
	position: relative;
	display: flex;
}
#calend img {
	position: absolute;
	left: 0px;
}
.chassi {
	position: absolute;
	top: 70px;
	left: 70px;
	z-index: 5;
}
.display-block {
	display: block;
}
.calendar {
	margin-left: 19px;
	display: flex;
}

.calendar img {
	width: 18px;
	height: 18px;
	margin: auto 0;
	margin-right: 13px;
}
.wrapper {
	padding-left: 33px;
	display: flex;
}
.text-decoration {
	text-decoration: line-through;
}
.Task-full {
	margin-top: 30px;
}
.Task_list {
	margin-left: 43px;
	display: flex;
	opacity: 30%;
	height: 25px;
}
.Task_list img {
	width: 92%;
}
.All-quest {
	margin-right: 20px;
	padding-left: 25px;
	padding-right: 35px;
	background-color: #ffffff;
	width: 25.5%;
	border-radius: 10px;
	height: 290px;
}
.quest-title {
	padding-bottom: 46px;
	display: flex;
	justify-content: space-between;
}
.quest-title h1 {
	margin-top: 19px;
	font-size: 18px;
}
.quest-title img {
	height: 16px;
	margin-top: 22px;
}
.add-quest {
	cursor: pointer;
	align-items: center;
	display: flex;
	margin-bottom: 25px;
}
.add-quest img {
	width: 16px;
	height: 16px;
}
.add-quest p {
	margin-left: 14px;
	font-size: 16px;
	color: #d02b38;
}
.quest-create {
	width: 25.5%;
}
.quest {
	padding-left: 13px;
}
.quest h2 {
	font-size: 16px;
	padding-top: 2px;
}
.quest-list {
	list-style: none;
}
.quest-list li {
	display: flex;
	margin-top: 20px;
	font-size: 14px;
}
.quest-list li img {
	width: 15px;
	margin: auto 0;
	margin-right: 10px;
}
.quest-full {
	margin-right: 20px;
	width: 25.5%;
	height: 390px;
	padding-left: 25px;
	padding-right: 35px;
	position: relative;
	background-color: #ffffff;
	border-radius: 10px;
}
.ul-quest {
	padding-left: 20px;
	font-weight: bold;
	font-size: 16px;
}
.ul-quest li {
	margin-bottom: 23px;
}
.ul-quest li p {
	margin-left: 20px;
}
.save {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
}
.save button {
	cursor: pointer;
	border: 0px;
	outline: 0px;
	color: #ffffff;
	background: #0e9347;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	font-size: 17px;
	padding-top: 17px;
	padding-bottom: 17px;
	width: 100%;
}
.button-save button {
	opacity: 0.6;
	outline: 0px;
	cursor: pointer;
	font-size: 16px;
	border-radius: 10px;
	border: 0px;
	margin-bottom: 33px;
	background-color: #ffffff;
	padding: 22px;
	width: 100%;
}
.new-quest {
	width: 100%;
	height: 353px;
	background: #ffffff;
	border-radius: 10px;
	padding-left: 25px;
	padding-right: 25px;
}
.post {
	padding-top: 25px;
	display: flex;
	color: #d02b38;
	padding-bottom: 25px;
}
.post img {
	width: 14px;
	margin: auto 0;
	height: 14px;
}
.post p {
	font-size: 16px;
	margin-left: 14px;
}
.quest-input input {
	height: 44px;
	width: 98%;
	padding-left: 20px;
	border-radius: 5px;
	font-size: 15px;
	border: 0px;
	background: #f6f8f9;
	margin-bottom: 15px;
}
.quest-input button {
	outline: 0px;
	cursor: pointer;
	padding: 13px;
	width: 98%;
	font-size: 17px;
	border-radius: 10px;
	border: 0px;
	color: #ffffff;
	background: #0e9347;
}

.links {
	margin-top: 30px;
}
.links li:last-child {
	margin-bottom: 0px;
}
.links li {
	margin-bottom: 20px;
	display: flex;
}
.links li a {
	color: #2a68be;
	font-size: 14px;
}
.links li img {
	margin: auto 0;
	width: 14px;
	height: 14px;
	margin-right: 15px;
}
.login {
	margin-left: 31px;
	padding-top: 38px;
	padding-left: 25px;
	padding-right: 35px;
	width: 380px;
	height: 325px;
	background: #ffffff;
	border-radius: 10px;
}
.logo {
	text-align: center;
	padding-bottom: 41px;
}
.input-login {
	position: relative;
}
.input-login input {
	width: 320px;
	border: 0px;
	background: #f6f8f9;
	border-radius: 5px;
	height: 50px;
}
.input-login input::placeholder {
	padding-left: 50px;
}
.input-login img {
	position: absolute;
	left: 20px;
	top: 16px;
}
.input-login {
	padding-bottom: 15px;
}
.button-login button {
	padding: 15px 132px;
	font-size: 20px;
	color: #ffffff;
	border: 0px;
	border-radius: 10px;
	background: #0e9347;
}
#ui-datepicker-div {
	margin-top: 24px;
}

@media (max-width: 1200px) {
	.All-quest {
		width: 27%;
	}
	.quest-full {
		width: 27%;
	}
	.quest-create {
		width: 27%;
	}
}
@media (max-width: 1024px) {
	.wrapper {
		flex-wrap: wrap;
	}
	.All-quest {
		width: 44.5%;
	}
	.add-quest p {
		margin-left: 8px;
	}
	.quest-full {
		width: 44.5%;
	}
	.quest-create {
		width: 44.5%;
		margin-top: -66px;
	}
}
@media (max-width: 768px) {
	.wrapper {
		flex-wrap: wrap;
	}
	.All-quest {
		width: 46%;
	}
	.add-quest p {
		margin-left: 8px;
	}
	.quest-full {
		width: 46%;
	}
	.quest-create {
		width: 46%;
		margin-top: -66px;
	}
	.Task_list img {
		width: 90px;
	}
	.Task_list {
		margin-left: 30px;
		height: 17px;
	}
	.logos {
		padding-left: 12px;
	}
	.input2 {
		width: 30px;
	}
	.logout img {
		margin-right: 15px;
	}
}
@media (max-width: 575px) {
	.wrapper {
		padding-left: 0px;
		flex-direction: column;
	}
	.All-quest {
		width: 70%;
		margin: 0px auto;
	}
	.add-quest p {
		margin-left: 8px;
	}
	.quest-full {
		width: 70%;
		margin: 30px auto;
	}
	.quest-create {
		width: 70%;
		margin: 0px auto;
	}
}
@media (max-width: 425px) {
	.wrapper {
		padding-left: 0px;
		flex-direction: column;
	}
	.All-quest {
		width: 85%;
	}
	.quest-full {
		width: 85%;
	}
	.quest-create {
		width: 85%;
	}
}
