.slick-slider div:focus {
    outline: 0;
}
body {
    overflow-x: hidden;
    background: #333;
    color: #fff;
}
.yellow {
    position: relative;
    text-decoration: none;
}
.yellow:before {
    content: "";
    bottom: -7px;
    left: 0;
    position: absolute;
    width: 98%;
    height: 2px;
    background-color: #d1a954;
    transition: 0.2s;
    transform: scaleX(0);
}
.yellow:hover {
    text-decoration: none;
}
.yellow:hover:before {
    transform: scaleX(1);
}
.button {
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    background-color: #d1a954;
    padding: 10px 43px;
}
.button:hover {
    background-color: rgba(209, 169, 84, 0.9);
}
.Maecenas {
    margin-top: 120px;
    margin-bottom: 50px;
}
.Maecenas__title-text {
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: 65px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
}
.Maecenas__title-span {
    color: #d1a954;
}
.Maecenas__row {
    display: flex;
    margin-top: 100px;
    align-items: center;
}
.Maecenas__body-title {
    width: 35%;
}
.Maecenas__body-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.05em;
    margin-top: 25px;
}
.Maecenas__body-text:first-child {
    margin-top: 0;
}
.Maecenas__item-right {
    margin-top: 25px;
}
.Maecenas__form-row {
    display: flex;
    justify-content: flex-end;
}
.Maecenas__item-form {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 30%;
}
.Maecenas__body-input {
    color: #fff;
    border: 1px solid #616161;
    outline: 0;
    background-color: #333;
    margin: 10px;
    padding-top: 5px;
    align-self: center;
    padding-bottom: 5px;
    padding-left: 15px;
}
.Maecenas__item-textar {
    display: flex;
    align-items: center;
}
.Maecenas__body-textar {
    width: 150%;
    height: 92px;
    border: 1px solid #616161;
    color: #fff;
    background-color: #333;
    resize: vertical;
}
.Maecenas__body-textar:focus {
    outline: 0;
}
.Maecenas__small-form {
    margin-right: 12%;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    width: 50%;
    color: #989898;
}
.Maecenas__item-guard {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
}
@media (min-width: 1440px) {
    .theater .big__theater-slide {
        background: url(../../img/header/opera2.png) top 20px right -50px no-repeat;
        width: 45%;
        padding-bottom: 20px;
    }
}
@media (max-width: 1199px) {
    .theater .big__theater-slide {
        background: url(../../img/header/opera2.png) top 20px right -50px no-repeat;
        width: 120%;
        padding-bottom: 20px;
    }
    .about__info-best {
        width: 65%;
        margin-right: 30px;
    }
    .about__number {
        margin-right: 0;
        width: 30%;
    }
    .Maecenas__item-form {
        width: 60%;
    }
    .Maecenas__item-guard {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
    }
}
@media (max-width: 990px) {
    .theater .header__text-row {
        display: block;
        padding-top: 40px;
    }
    .theater .header__text-left a {
        text-transform: uppercase;
        margin-right: 30px;
    }
    .theater .header__text-right {
        margin-top: 35px;
        text-align: center;
    }
    .theater .big__theater-slide {
        display: none;
    }
    .about__info-best {
        width: 70%;
        margin-right: 30px;
    }
    .about__number {
        width: 50%;
    }
    .about__house-img {
        display: none;
    }
    .our__accordion-img img {
        transition: ease 1s;
    }
    .our__accordion-img img:hover {
        transform: scale(1.1);
    }
    .our__accordion-img img:hover ~ .our__accordion-title {
        top: -20%;
    }
    .our__accordion-img img:hover ~ .our__accordion-subtitle {
        bottom: -40%;
    }
    .partners__item-top svg:last-child {
        margin-top: 12px;
    }
    .partners__item-down svg:last-child {
        margin-top: 12px;
    }
    .Maecenas__row {
        flex-wrap: wrap;
        width: 100%;
    }
    .Maecenas__item-form {
        width: 80%;
    }
    .Maecenas__body-title {
        display: flex;
        justify-content: space-between;
        width: 100%;
        order: 2;
        margin-top: 70px;
    }
    .Maecenas__item-right {
        text-align: right;
        margin-top: 0;
    }
    .Maecenas__body-form {
        order: 1;
    }
}
@media (max-width: 767px) {
    .theater .header__text-left {
        display: none;
    }
    .theater .header__text-right {
        margin-right: -3%;
        margin-top: 10px;
        text-align: right;
    }
    .theater .header__menu-button {
        display: block;
    }
    .theater .header__mobile-menu {
        display: block;
    }
    .about__info-best {
        width: 100%;
    }
    .about__number {
        margin-top: 40px;
        width: 100%;
    }
    .about__number-img {
        display: flex;
        justify-content: space-around;
    }
    .about__info-item {
        text-align: center;
        display: block;
    }
    .about__number-subimg:first-child {
        margin-top: 25px;
    }
    .about__number-subimg:last-child {
        margin-top: 30px;
    }
    .our__title-text {
        font-size: 38px;
    }
    .our__accordion-img img {
        transition: ease 1s;
    }
    .our__accordion-img img:hover {
        transform: scale(1.1);
    }
    .our__accordion-img img:hover ~ .our__accordion-title {
        top: -20%;
    }
    .our__accordion-img img:hover ~ .our__accordion-subtitle {
        bottom: -40%;
    }
    .best__img-years {
        font-size: 56px;
    }
    .best__img-text {
        font-size: 26px;
    }
    .partners__item-top svg {
        margin-top: 15px;
    }
    .partners__item-top svg:last-child {
        display: none;
    }
    .partners__item-down svg {
        margin-top: 15px;
    }
    .partners__item-down svg:last-child {
        display: none;
    }
    .Maecenas__body-input {
        width: 45%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 40px;
    }
    .Maecenas__item-form {
        justify-content: space-between;
        width: 100%;
    }
    .Maecenas__form-row {
        display: block;
    }
}
@media (max-width: 575px) {
    .theater .header__text-row {
        padding-top: 40px;
    }
    .theater .header__text-left {
        display: none;
    }
    .theater .header__text-right {
        margin-right: 3%;
    }
    .theater .big__theater-title-text {
        font-size: 55px;
    }
    .theater .big__theater-text-subtitle {
        width: 100%;
    }
    .our__accordion-img img {
        transition: ease 1s;
    }
    .our__accordion-img img:hover {
        transform: scale(1.1);
    }
    .our__accordion-img img:hover ~ .our__accordion-title {
        top: -20%;
    }
    .our__accordion-img img:hover ~ .our__accordion-subtitle {
        bottom: -40%;
    }
    .best__img-row {
        display: flex;
    }
    .best__img-years {
        font-size: 46px;
        margin-right: 20px;
        margin-left: 10px;
    }
    .best__img-years p {
        margin-top: -20px;
    }
    .best__img-text {
        font-size: 15px;
    }
    .best__img-body {
        align-self: center;
        width: 100%;
    }
    .best__img-criticalscore svg {
        width: 50%;
    }
    .partners__item-top svg {
        padding-left: 30px;
    }
    .partners__item-down svg {
        display: none;
    }
    .Maecenas__title-text {
        font-size: 38px;
    }
    .Maecenas__item-guard {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .Maecenas__small-form {
        order: 2;
        margin-top: 10px;
        width: 100%;
    }
    .Maecenas__button {
        order: 1;
        width: 50%;
        margin-left: 25%;
    }
    .Maecenas__body-title {
        font-size: 1px;
    }
}
