.footer {
    background: url(../img/футер.png) top/cover no-repeat;
    width: 100%;
    margin-top: 250px;
    border-radius: 155px 155px 0px 0px;
    // .footer__row

    &__row {
        text-align: center;
    }

    // .footer__img

    &__img {
        img {
            margin-top: -100px;
            transform: translateY(-10%);
        }
    }

    // .footer__menu

    &__menu {
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        display: flex;
        padding-top: 63px;
        padding-bottom: 63px;
        justify-content: center;
        margin: 0px auto;
        width: 100%;
    }

    // .footer__menu-ul

    &__menu-ul {
        display: flex;
        justify-content: space-around;
        width: 90%;
    }

    // .footer__ul-li

    // footer__li-link

    &__li-link {
        font-family: "Montserrat-Light";
        font-size: 20px;
        color: white;
        line-height: 24px;
    }

    // .footer__rights

    &__rights {
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        color: white;
        display: flex;
        margin: 0px auto;
        width: 65%;
        justify-content: space-around;
        padding-top: 61px;
        padding-bottom: 61px;
        font-family: "Montserrat-Light";
        font-size: 20px;
        line-height: 24px;
    }

    // .footer__rights-contract
}
@media (max-width: 1599px) {
    .footer {
        border-radius: 125px 125px 0px 0px;
    }
    .footer__img {
        img {
            width: 374px;
        }
    }
    .footer__li-link {
        font-size: 17px;
    }
    .footer__menu-ul {
        margin-left: -40px;
    }
    .footer__menu {
        width: 80%;
        padding-top: 37px;
        padding-bottom: 37px;
    }
    .footer__rights {
        width: 70%;
        padding-top: 41px;
        padding-bottom: 41px;
        font-size: 17px;
    }
}
@media (max-width: 1365px) {
    .footer__menu {
        width: 100%;
    }
    .footer__menu-ul {
        width: 100%;
        margin-left: -35px;
    }
    .footer__rights {
        width: 100%;
    }
}
@media (max-width: 999px) {
    .footer {
        border-radius: 90px 90px 0px 0px;
    }
    .footer__menu-ul {
        flex-wrap: wrap;
        justify-content: space-evenly;
        position: relative;
        &::before {
            content: "";
            width: 110%;
            position: absolute;
            top: 65px;
            left: -13px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }
    }
    .footer__img {
        img {
            margin-top: -50px;
            width: 212px;
        }
    }
    .footer__rights {
        border: none;
        position: relative;
        padding-top: 21px;
        padding-bottom: 27px;
        font-size: 10px;
        &::before {
            content: "";
            top: 0;
            position: absolute;
            width: 110%;
            border-top: 1px solid rgba(255, 255, 255, 0.5);
        }
    }
    .footer__menu {
        width: 90%;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .footer__ul-li {
        margin-right: 20px;
        margin-top: 20px;
        &:nth-of-type(4),
        &:nth-of-type(5) {
            margin-top: 40px;
        }
    }
}
@media (max-width: 767px) {
    .footer {
        border-radius: 50px 50px 0px 0px;
    }
    .footer__menu-ul {
        flex-wrap: nowrap !important;
        flex-direction: column;
        &::before {
            border: none;
        }
    }
    .footer__rights {
        width: 80%;
        flex-direction: column;
        padding-top: 0px;
        &::before {
            border: none;
        }
    }
    .footer__menu {
        padding-bottom: 0px;
        border-top: none;
    }
    .footer__rights-contract {
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #ffffff;
    }
    .footer__rights-right {
        padding-top: 15px;
    }
    .footer__ul-li {
        border-bottom: 1px solid #ffffff;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-right: 0px;
        margin-top: 0px;
        &:first-child {
            border-top: 1px solid #ffffff;
        }
        &:nth-of-type(4),
        &:nth-of-type(5) {
            margin-top: 0px;
        }
    }
}
