.header {
    position: relative;
    height: 100%;

    &__lending {
        background: url("../img/Заднийфоншапка.png") top/cover no-repeat;
    }

    &__blogers {
        background: url("../img/ЗаднийБлогер.png") top/cover no-repeat;
        border-radius: 0px 0px 155px 155px;
    }

    // .header__row

    &__row {
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .header__menu-ul

    &__menu-ul {
        display: flex;
        padding: 0px;
    }

    // .header__menu-li

    &__menu-li {
        display: flex;
        position: relative;
        margin-left: 120px;
        &:first-child {
            margin-left: 0px;
        }
    }
    // .header__menu-link

    &__menu-link {
        transition: 0.2s;
        font-family: "Montserrat-Bold";
        font-size: 20px;
        color: white;
        &:hover {
            color: rgba(255, 255, 255, 0.5);
        }
    }
    @media (max-width: 1919px) {
        .header__menu-link {
            font-size: 17px;
        }
    }
    .header__menu-li:hover .header__menu-drop {
        visibility: visible;
        transition-delay: 0s;
        opacity: 1;
        top: 26px;
    }

    // .header__menu-drop

    &__menu-drop {
        z-index: 0;
        top: 50px;
        opacity: 0;
        padding: 15px 22px;
        transition: top 0.4s, opacity 0.2s, visibility 0s linear 0.1s;
        visibility: hidden;
        position: absolute;
        background: linear-gradient(257.99deg, rgba(249, 6, 221, 0.7) 0%, rgba(15, 164, 242, 0.7) 100%);
        backdrop-filter: blur(3px);
        border-radius: 15px;
        left: -18px;
        li {
            margin-left: 0px;
            padding-top: 10px;
            border-top: 1px solid rgba(255, 255, 255, 1);
            &:first-child {
                padding-top: 0px;
                padding-bottom: 10px;
                border: none;
            }
        }
    }

    // .header__menu-sign

    &__menu-sign {
        font-family: "Montserrat-Bold";
        font-size: 18px;
    }
    @media (max-width: 1919px) {
        .header__menu-sign {
            font-size: 16px;
        }
    }

    // .header__row-info

    &__row-info {
        display: flex;
    }

    // header__menu-item
    &__menu-item {
        margin-left: 5px;
        &:first-child {
            margin-left: 0px;
        }
    }
    .row-info-blog {
        justify-content: space-evenly;
    }

    &__text-info-blog {
        margin-top: 80px;
    }

    // .header__text

    &__text {
        color: white;
        margin-bottom: 120px;
    }
    .header__menu-mobile {
        display: none;
    }
    // .header__text-title

    &__text-title {
        width: 100%;
        font-family: "Montserrat-ExtraBold";
        font-size: 80px;
        line-height: 97px;
    }
    @media (max-width: 1919px) {
        .header__text-title {
            font-size: 60px;
            line-height: 73px;
            margin-bottom: 0px;
        }
        .header__text-subtitleBlog {
            font-size: 30px;
            margin-top: 0px;
            margin-bottom: 25px;
        }
        .row-info-blog {
            justify-content: center;
        }
    }
    @media (max-width: 1365px) {
        .header {
            border-radius: 0px 0px 110px 110px;
        }
        .header__img {
            order: 0;
        }
        .header__img img {
            width: 223px;
        }
        .header__sign-row {
            order: 1;
        }
        .header__menu-mobile {
            display: block;
            z-index: 999;
            width: 58px;
            padding-top: 25px;
            height: 58px;
            cursor: pointer;
            border-radius: 50px;
        }

        .header__menu-burger {
            display: block;
            position: relative;
            background: rgba(255, 255, 255, 1);
            width: 55px;
            height: 10px;
            transition: 0.4s;
            border-radius: 50px;
            &::after,
            &::before {
                content: "";
                border-radius: 50px;
                display: block;
                position: absolute;
                background: rgba(255, 255, 255, 1);
                width: 100%;
                height: 10px;
                transition: 0.4s;
            }
            &::after {
                top: 15px;
            }
            &::before {
                top: -15px;
            }
        }
        .header__menu {
            order: -1;
            display: none;
        }
        .header__text-subtitleBlog {
            font-size: 28px;
        }
        .header__text-title {
            font-size: 56px;
        }
        .header__text-down-img {
            margin-left: -60px;
        }
        .header__menu-ul {
            position: absolute;
            z-index: 99;
            top: 0;
            background: rgba(black, 0.5);
            backdrop-filter: blur(10px);
            height: 100vh;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0px auto;
            flex-direction: column;
        }
        .header__menu-li {
            top: 50%;
            margin-left: 0px;
            width: 300px;
            margin: 0px auto;
            a {
                margin: 0px auto;
                text-align: center;
                font-size: 20px;
            }
        }
    }
    @media (max-width: 999px) {
        .header {
            border-radius: 0px 0px 90px 90px;
        }
        .header__img-ufo img {
            margin-right: -150px;
        }
        .header__text-title {
            font-size: 60px;
        }
        .header__text-subtitleBlog {
            width: 110%;
        }
        .header__text-info-blog {
            margin-right: -63px;
        }
    }
    .title-blog {
        text-align: center;
    }
    // .header__text-span
    &__text-span {
        color: #aee3ff;
    }
    // header__text-down-img

    &__text-down-img {
        cursor: pointer;
        margin-top: 37px;
        position: relative;
        text-align: center;
        img {
            position: absolute;
            animation: arrow2 1.3s linear infinite alternate;
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 50px;
            height: 50px;
        }
        &::before {
            top: 15px;
            background: url(../img/arrow1.png) no-repeat;
            animation: arrow1 1.3s linear infinite alternate;
        }
        &::after {
            top: -13px;
            text-align: center;
            background: url(../img/arrow3.png) no-repeat;
            animation: arrow3 1.3s linear infinite alternate;
        }
    }
    // .header__text-subtitle

    &__text-subtitle {
        width: 57%;
        font-family: "Montserrat-Light";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
    }

    // .header__text-subtitleBlog

    &__text-subtitleBlog {
        font-family: "Montserrat-Light";
        font-size: 40px;
        line-height: 49px;
    }

    // .header__button-info

    &__button-info {
        margin-bottom: 80px;
        font-family: "Montserrat-Bold";
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
    }

    // .button__info

    .button__info {
        margin-top: 25px;
        :first-child {
            margin-top: 0px;
        }
    }
    // .header__img

    @media (max-width: 1919px) {
        .header__img {
            img {
                width: 143px;
            }
        }
        .header__img-ufo {
            margin-right: -100px;
            margin-left: 90px;
            img {
                width: 521px;
            }
        }
        .header__text-down-img {
            margin-left: -80px;
            margin-top: 0px;
        }
    }

    // .header__img-info

    &__img-info {
        right: 0px;
        z-index: 0;
        bottom: 0px;
        position: absolute;
        background: url(../img/Космонавт.png) top/cover no-repeat;
        height: 600px;
        width: 1000px;
    }
}

@keyframes arrow1 {
    0% {
        top: 10px;
    }

    100% {
        top: 30px;
    }
}
@keyframes arrow2 {
    0% {
        padding-top: 0px;
    }
    100% {
        padding-top: 25px;
    }
}
@keyframes arrow3 {
    0% {
        top: -10px;
    }
    100% {
        top: 20px;
    }
}

@media (max-width: 1599px) {
    .header {
        border-radius: 0px 0px 125px 125px;
    }
    .header__menu-ul {
        margin-top: 20px;
    }
    .header__sign {
        margin-top: 20px;
    }
}
@media (max-width: 767px) {
    .header {
        border-radius: 0px 0px 50px 50px;
    }
    .header__img-ufo {
        display: none;
    }
    .header__text-info-blog {
        margin-top: 20px;
        margin-right: 0px !important;
    }
    .header__row {
        padding-top: 10px;
        flex-wrap: wrap;
        justify-content: space-around !important;
    }
    .header__img {
        order: 1 !important;
        margin-top: 30px !important;
        margin: 0px auto;
    }
    .header__menu-mobile {
        margin-top: 20px;
    }
    .button-grand {
        padding: 10px 25px;
    }
}
@media (max-width: 479px) {
    .header__menu-mobile {
        margin: 0px auto;
        margin-top: 20px;
    }
    .header {
        border-radius: 0px 0px 35px 35px;
    }
    .header__row {
        justify-content: flex-start !important;
    }
    .header__text-title {
        font-size: 55px !important;
    }
    .header__text-subtitleBlog {
        width: 100% !important;
        font-size: 23px !important;
        text-align: center;
    }
}
@media (max-width: 353px) {
    .header__menu-mobile {
        margin: 0px;
    }
}
