// Подключение шрифтов
@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}
@import "fonts";
@import "normalize";
@import "header";
@import "target";
@import "sectionMain";
@import "footer";

.disable-background {
    border-color: white !important;
    &::before {
        top: -100% !important;
        opacity: 0 !important;
    }
}
.button-grand {
    padding: 13px 16px;
    color: white;
    background-color: transparent;
    border: 1px solid transparent;
    z-index: 1;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    transition: border 0.3s ease-out;
    &:hover {
        border-color: white;
    }
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0px;
        position: absolute;
        z-index: -1;
        opacity: 1;
        background: linear-gradient(264.62deg, #f906dd 0%, #0fa4f2 100%);
        transition: top 0.3s, opacity 0.3s ease-out;
    }
    &:hover:before {
        opacity: 0;
        top: -100%;
    }
}
.add-li {
    &:hover {
        &::before {
            transform: rotate(90deg);
        }
    }
    &::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        background: url(../img/arrowrightlight.png) no-repeat;
        right: -20px;
        top: 8px;
        transition: 0.5s ease;
    }
}
.button-grand-nothover {
    padding: 13px 16px;
    color: white;
    background-color: transparent;
    border: 1px solid transparent;
    z-index: 1;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    transition: border 0.3s ease-out;
    &:hover {
        border-color: white;
    }
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0px;
        position: absolute;
        z-index: -1;
        opacity: 1;
        background: linear-gradient(264.62deg, #f906dd 0%, #0fa4f2 100%);
        transition: top 0.3s, opacity 0.3s ease-out;
    }
}
.selected {
    padding: 0px;
}
@media (max-width: 1919px) {
    .button-grand {
        padding: 10px 13px;
    }
    .button-grand-nothover {
        padding: 10px 13px;
    }
}
@media (max-width: 1365px) {
    .add-li {
        &::before {
            right: 30%;
            top: 11px;
        }
    }
}
